body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2014/12/08/14/23/pocket-watch-560937_1280.jpg");
    background-size: cover;
    background-position: center;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.main h1{
    color: white;
}
.btn{
    display: flex;
    margin: 10px;
}
.btn button{
    margin: 20px;
 
}
.main input{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}
.main button{
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2b619e;
    color: #fff;
    cursor: pointer;
    display: flex;
    
}
.main button:hover{
    background-color: #3973b6;
}
.main #countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.main #countdown div{
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 36px;
    background-color: #2b619e;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.main #quote{
    font-size: 24px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}